@import url('https://fonts.googleapis.com/css?family=Raleway:300,400');

@font-face {
    font-family: "Puchikuma Bold";
    src: url("Fonts/Puchikuma Bold.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    box-sizing: border-box;
    font-family: Raleway;
    color: #777;
}

html, body {
    margin: 0;
    padding: 0;
}

.nav ul {
    margin: 0;
}

.nav li {
    display: inline;
}

.nav a {
    display: inline-block;
    padding: .5em;
    color: white;
    text-decoration: none;
}

.nav a:hover {
    background-color: rgba(255, 255, 255, .3);
}

.main-nav {
    text-align: center;
    font-size: 1.1em;
    font-weight: lighter;
    border-bottom: 1px solid rgba(255, 255, 255, .3);
}

.main-nav li {
    padding: 0 5%;
}

.toggle-button {
    cursor: pointer;
    position: absolute;
    display: none;
    justify-content: space-between;
    flex-direction: column;
    top: 0;
    left: 0;
    width: 36px;
    height: 36px;
    padding: 9px;
    margin: 5px;
    border-radius: 50%;
    
}

.toggle-button:active {
    background-color: rgba(255, 255, 255, .3);
}

.toggle-button .bar {
    background-color: white;
    width: 100%;
    height: 2px;
    border-radius: 3px;
}

@media (max-width: 900px) {
    .nav-items {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .toggle-button {
        display: flex;
    }

    .nav-header, .responsive {
        width: 100%;
        text-align: start;
    }

    .main-nav ul {
        padding-left: 46px;
    }

    .main-nav li {
        padding: 0;
    }

    .nav-header a, .responsive a {
        width: 100%;
    }

    .responsive {
        /*display: none;*/
        max-height: 0;
        overflow: hidden;
        transition: max-height 1s;
    }

    .responsive.expanded {
        /*display: flex;*/
        max-height: 45px;
        background-color: none;
    }
}

.main-header {
    background-color: rgba(255, 255, 255, .2);
    background-image: url("Images/Header Background.jpeg");
    background-blend-mode: multiply;
    background-size: cover;
    padding-bottom: 30px;
}

.artist-name {
    text-align: center;
    margin: 0;
    font-size: 4em;
    font-family: "Puchikuma Bold";
    font-weight: normal;
    color: white;
}

.artist-name-large {
    font-size: 8em;
    margin: 0.1em;
}

.content-section {
    margin: 1em;
}

.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 0 1.5em;
}

.section-header {
    font-family: "Puchikuma Bold";
    color: #333;
    text-align: center;
    font-size: 2.5em;
}

.about-artist-image {
    margin: 0;
    border-radius: 50%;
}

.info-card {
    border-radius: 15px;
    background-color: wheat;
    margin-bottom: 10px;
    overflow: hidden;
}

.info-title {
    display: flex;
    align-items: center;
    margin: 0;
    background-color: black;
    color: white;
    padding: .7em;
}

.info-content {
    display: flex;
    align-items: top;
    padding: .5em 1.5em;
}

@media (max-width: 600px) {
    .info-content {
        flex-direction: column;
    }
}

.info-text {
    padding: .4em;
    font-size: 1.1em;
    font-weight: lighter;
}

.info-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.link {
    margin: .5em 0;
    font-weight: bolder;
    color: #444;
}

.link a {
    font-weight: normal;
    word-break: break-word;
}

.main-footer {
    background-color: rgb(245, 189, 143);
    color: black;
    padding: .25em 0;
}

.main-footer-container {
    display: flex;
    align-items: center;
    user-select: none;
    -webkit-user-select: none;
}

.main-footer-container ul {
    flex-grow: 1;
    text-align: end;
}

.footer-nav li {
    padding: 0 .1em;
}

.footer-nav img {
    width: 30px;
    height: 30px;
}

.icon-credits {
    text-align: right;
}

.btn {
    text-align: center;
    vertical-align: middle;
    padding: .67em;
    cursor: pointer;
}

.btn-header {
    margin: .5em 15% 2em 15%;
    color: white;
    border: 2px solid white;
    background-color: rgba(255, 255, 255, .1);
    border-radius: .3em;
    font-size: 1.5em;
    font-weight: lighter;
    padding-left: 2em;
    padding-right: 2em;
}

.btn-play {
    display: none;
    border-radius: 50%;
    width: 112px;
    height: 112px;
    background-color: rgba(255, 255, 255, .1);
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
}

/* Only show once youtube video has loaded */
.btn-play.player-ready {
    display: block;
}

.btn-header:hover, .btn-play:hover {
    background-color: rgba(255, 255, 255, .3);
}

.play-unit {
    display: flex;
    justify-content: center;
    align-items: center;
}

.play-unit.playing .player-info {
    max-width: 120px;
}

.player-info {
    max-width: 0;
    overflow: hidden;
    margin-left: 10px;
    transition: max-width .9s;
}

.player-info div {
    color: white;
    border-top: none;
    font-weight: lighter;
    font-size: 1.1em;
    padding: 3px;
    white-space: nowrap;
}

.player-info div:last-child {
    border-top: 1px solid white;
}

.player-info div:first-child {
    -webkit-animation-name: flash;
    -webkit-animation-duration: 3s;
    -webkit-animation-iteration-count: infinite;
    animation-name: flash;
    animation-duration: 3.5s;
    animation-iteration-count: infinite;
}

@-webkit-keyframes flash {
    20% {
        opacity: 0.5;
    }
    50% {
        opacity: 1;
    }
    80% {
        opacity: 0.5;
    }
}

@keyframes flash {
    0% {
        opacity: 0.5;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0.5;
    }
}

.release-row {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid black;
    padding-bottom: 1em;
    margin: 1em;
}

.release-row:last-child {
    border-bottom: none;
}

.release-item {
    display: inline-block;
    padding-right: .5em;
}

.release-date {
    color: #555;
    font-weight: bold;
    width: 20%;
}

.release-title {
    width: 69%;
}

.btn-primary {
    color: white;
    background-color: #ed56f2;
    border: none;
    border-radius: .3em;
    font-weight: bold;
}

.btn-primary:hover {
    background-color: #be2ddb;
}

.shop-item {
    margin: 30px;
}

.shop-item-title {
    display: block;
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
    color: #333;
    margin-bottom: 15px;
}

.shop-item-image {
    height: 250px;
}

.shop-item-details {
    display: flex;
    align-items: center;
    padding: 5px;
}

.shop-item-price {
    flex-grow: 1;
    color: #333;
}

.shop-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.cart-header {
    font-weight: bold;
    font-size: 1.2em;
    color: #333;
}

.cart-column {
    display: flex;
    align-items: center;
    border-bottom: 1px solid black;
    margin-right: 1.5em;
    padding-bottom: 10px;
    margin-top: 10px;
}

.cart-row {
    display: flex;
}

.cart-item {
    width: 45%;
}

.cart-price {
    width: 20%;
    font-size: 1.2em;
    color: #333;
}

.cart-quantity {
    width: 35%;
}

.cart-item-title {
    color: #333;
    margin-left: .5em;
    font-size: 1.2em;
}

.cart-item-image {
    width: 75px;
    border-radius: 10px;
}

.btn-danger {
    color: white;
    background-color: #EB5757;
    border: none;
    border-radius: .3em;
    font-weight: bold;
}

.btn-danger:hover {
    background-color: #CC4C4C;
}

.cart-quantity-input {
    height: 34px;
    width: 50px;
    border-radius: 5px;
    border: 1px solid #ed56f2;
    background-color: #eee;
    color: #333;
    padding: 0;
    text-align: center;
    font-size: 1.2em;
    margin-right: 25px;
}

.cart-row:last-child {
    border-bottom: 1px solid black;
}

.cart-row:last-child .cart-column {
    border: none;
}

.cart-total {
    text-align: end;
    margin-top: 10px;
    margin-right: 10px;
}

.cart-total-title {
    font-weight: bold;
    font-size: 1.5em;
    color: black;
    margin-right: 20px;
}

.cart-total-price {
    color: #333;
    font-size: 1.1em;
}

.btn-purchase {
    display: block;
    margin: 40px auto 80px auto;
    font-size: 1.75em;
}

.gallery-box {
    position: relative;
    margin-top: 25px;
    background-color: black;
    border-radius: 5px;
}

.gallery-slide {
    display: none;
}

.gallery-slide img {
    display: block;
    width:100%;
    height: calc(100vw / 2);
    object-fit: contain;
}

.gallery-dots {
    text-align: center;
    margin: 30px 0 20px;
}

.gallery-dot {
    display: inline-block;
    cursor: pointer;
    background-color: #bbb;
    border-radius: 50%;
    height: 15px;
    width: 15px;
    margin: 0 4px;
    transition: 0.6s ease;
}

.active, .gallery-dot:hover {
    background-color: #777;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    margin-top: -40px;
    top: 50%;
    font-size: 2.5em;
    font-weight: bold;
    color: white;
    padding: .6em;
    transition: 0.6s ease;
    user-select: none;
    -webkit-user-select: none;
}

.next {
    right: 0%;
}

.prev:hover, .next:hover {
    background-color: rgba(255, 255, 255, .3);
    border-radius: 5px;
}

.slide-number {
    position: absolute;
    top: 0%;
    right: 0%;
    padding: .7em;
    color: rgba(255, 255, 255, .7);
    user-select: none;
    -webkit-user-select: none;
}

.slide-caption {
    position: absolute;
    bottom: 0%;
    width: 100%;
    text-align: center;
    padding: .7em;
    color: white;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}

.twitter-timeline-container {
    padding: 3% 3% 5% 3%;
    border-radius: 7px;
    background-image: linear-gradient(to top right, black, #555);
}